aside{
width: 320px;
background: #FFF ;
box-shadow: 0 0 14px 0 rgba(0,0,0,0.2 );
border-radius: 2px;
padding: 30px 20px;
}
aside strong{
  font-size: 20px;
  text-align: center;
  display: block;
  color: #333;
}

aside form{
  margin-top: 30px;
}

aside form .inputBlock + .inputBlock{
  margin-top: 20px;
}

aside form .inputGroup{
  margin-top: 20px;
  display: grid;
  gap:20px;
  grid-template-columns: 1fr 1fr;
}

aside form .inputGroup .inputBlock{
  margin-top:0
} 

aside form .inputBlock label{
  color: #acacac;
  font-size: 14px;
  font-weight:bold;
  display: block;
}

aside form .inputBlock input{
  width: 100%;
  height: 32px;
  font-size: 14px;
  color:#666;  
  border: 0;
  border-bottom: 1px solid#eeef
}

aside form input[type=submit]{
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #7d40e7;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;

}

aside form input[type=submit]:hover{
  background:  #7d40e7;
}